.outline {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
}

mat-card {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

mat-card-subtitle {
    margin-bottom: 0px;
}

mat-card-content {
    align-self: flex-end;
}

mat-card-actions {
    padding: 0px;
}

.tip-amount {
    font-weight: bold;
}

.song-name {
    font-size: 1em;
}