<mat-card matLine class="mat-elevation-z0 outline">
    <mat-card-title-group>
        <mat-card-title class="song-name truncate">{{ song }}</mat-card-title>
        <mat-card-subtitle class="artist-name truncate">{{ artist }}</mat-card-subtitle>
    </mat-card-title-group>
    <div id="spacer"></div>
    <div id="tip-and-buttons">
        <div id="amount-wrapper">
            <span class="tip-amount">${{ amount }}</span>
        </div>
        <div id="buttons-wrapper">
            <button mat-icon-button 
                class="request-detail-button" 
                *ngIf="status === 'pending'"
                (click)="acceptRequest()">
                <mat-icon color="primary">done</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon 
                    color="warn" 
                    class="request-detail-button"
                    (click)="rejectRequest()">clear</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
