.outline {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.12);
}

mat-card {
    // width: 100%;
    display: flex;
    margin: 30px;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    flex-wrap: wrap;
}

#tip-and-buttons {
    display: flex;
    flex: 0 0 50%;
    justify-content: flex-end;
    align-items: center;

}

mat-card-subtitle {
    margin-bottom: 0px;
}

mat-card-title-group {
    width: 50px;
    flex-grow: 1;
    overflow: hidden;
    margin-right: 5px;
    text-overflow: ellipsis;
    // white-space: nowrap;

    // justify-self: center;
    // flex-shrink: 1;
}

// #spacer {
//     width: 50px;
// }

#amount-wrapper {
    // width: 50px;
    // align-self: center;
}

#buttons-wrapper {
    // width: 50px;
    // margin-left: auto;
    // justify-self: flex-end;
    // display: flex;
    flex-wrap: wrap;
    margin-left: 15px;
}

.tip-amount {
    font-weight: bold;
    font-size: .8em;
}

.song-name {
    font-size: .9em;
}

.artist-name {
    font-size: .7em;
}

.truncate {
    // max-width: 100%;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
}