<mat-card matLine class="mat-elevation-z0 outline">
    <div id="request-info-wrapper" #parentTag (mouseenter)="move()" (mouseleave)="stop()" (tap)="move()" (press)="stop()">
        <mat-card-title #target class="song-name">{{ song }}</mat-card-title>
        <mat-card-subtitle class="artist-name">{{ artist }}</mat-card-subtitle>
    </div>
    <!-- <div id="spacer"></div> -->
    <div id="tip-and-buttons">
        <div id="amount-wrapper">
            <span class="tip-amount">${{ amount }}</span>
        </div>
        <div id="buttons-wrapper">
            <button mat-icon-button 
                class="request-detail-button" 
                *ngIf="status === 'pending'"
                (click)="acceptRequest()">
                <mat-icon color="primary">done</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon 
                    color="warn" 
                    class="request-detail-button"
                    (click)="rejectRequest()">clear</mat-icon>
            </button>
        </div>
    </div>
</mat-card>
