@import "~aws-amplify-angular/theme.css";
@import "../../../styles.scss";

div.center {
  display: flex;
  justify-content: center;
}

div.flex-column {
  display: flex;
  flex-direction: column;
}

img {
  margin-top: 20px;
  height: 280px;
  width: 410px;
  margin-bottom: 30px;
  align-self: center;
}

h2 {
  margin-bottom: 0px;
  align-self: center;
}

h3 {
  align-self: center;
}

h4 {
  align-self: center;
}
h5 {
  align-self: center;
}

a {
  text-decoration: none;
  color: $primary;
}

#send-code {
  align-self: center;
}

#update-password {
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-bottom: 20px;
}

mat-form-field {
  margin-bottom: 20px;
}

mat-hint.error {
  color: mat-color($app-warn) !important;
}

div.form-navigation {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 959.99px) {
  img {
    margin-top: 20px;
    height: 170px;
    width: 300px;
    margin-bottom: 30px;
    align-self: center;
  }
}

@media only screen and (max-width: 599.99px) {
  img {
    height: 90px;
    width: 165px;
  }
  form {
    padding-left: 25px;
    padding-right: 25px;
    width: 360px;
  }
  h3 {
    font-size: 15px;
    margin-top: 5px;
  }
  h5 {
    font-size: 10px;
  }
  #prompt {
    text-align: center;
  }

  #send-code {
    font-size: 10px;
  }

  #update-password {
    font-size: 10px;
  }
}

@media only screen and (max-height: 376px) {
  img {
    height: 70px;
    width: 150px;
  }
  form {
    font-size: 10px;
    height: 200px;
  }
  h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

  div.form-navigation {
    margin-top: 20px;
  }
}
