.wrapper {
  display: flex;
  width: 100%;
  padding: 15px;
  flex-direction: column;
}

.title {
  align-self: center;
}

.events {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}

cdk-virtual-scroll-viewport {
  height: 100%;
}
