<div class="header">
<mat-toolbar>
  <mat-select id="leftToolbar" [(value)]="selected">
    <mat-option value="Scheduled" (click)="getEvents()" *transloco="let t">
      {{ t('scheduledEvents') }}
    </mat-option>
    <mat-option value="History" (click)="getPastEvents()" *transloco="let t">
      {{t('historicalEvents') }}
    </mat-option>
    <mat-option (click)="createEvent()" *transloco="let t">
      <mat-icon>add</mat-icon> {{ t('newEvent') }}
    </mat-option>
  </mat-select>


  <div id="rightToolbar">
    <mat-form-field *ngIf="scheduled || history" >

      <mat-label *transloco="let t">{{t('searchEvent')}}</mat-label>
      <input matInput id="searchInput" [(ngModel)]="searchText" >
    </mat-form-field>
  </div>


</mat-toolbar>
</div>

<cdk-virtual-scroll-viewport itemSize="80" *ngIf="!history">
  <mat-list class="events">
    <app-eventdetails  *cdkVirtualFor="let event of events | filter : searchText" mat-list-item class="event" [eventData]="event">
    </app-eventdetails>
  </mat-list>
</cdk-virtual-scroll-viewport>

<cdk-virtual-scroll-viewport itemSize="80" *ngIf="!scheduled">
  <mat-list class="events" >
    <app-eventdetails *cdkVirtualFor="let pastEvent of pastEvents | filter : searchText " mat-list-item class="event" [eventData]="pastEvent">
    </app-eventdetails>
  </mat-list>
</cdk-virtual-scroll-viewport>




