.title {
  align-self: center;
}

.events {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}
cdk-virtual-scroll-viewport {
  height: 100%;

  mat-list {
    padding: 0;
    min-height: 100%;
  }
}

// :host ::ng-deep .mat-tab-body-wrapper {
//   height: 88%;
// }

@media screen and (min-width: 700px) {
  #toolbar {
    width: 700px;
    margin: 0 auto;
  }
}

#toolbar {
  display: flex;
  flex-direction: row;
  height: 12%;
  justify-content: space-between;
  align-items: center;
  background: whitesmoke,
}

cdk-virtual-scroll-viewport {
  height: 88%;
}

@media screen and (min-width: 700px) {
  .cdk-virtual-scroll-viewport {
    width: 700px;
    margin: 0 auto;
  }
}

#leftToolbar {
  max-width: 200px;
  font-size: 0.8em;
  font-weight: bold;
  padding: 1.25em;
  margin-left: 10px;
}

#rightToolbar {
  font-size: 0.7em;
  font-weight: lighter;
  text-align: right;
  padding: 1.25em 1.25em 0px 1.25em;
}