.title {
  align-self: center;
}

.events {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0;
}

cdk-virtual-scroll-viewport {
  height: 100%;

  mat-list {
    margin-top: 5px;
    padding: 0;
    min-height: 100%;
  }
}

// :host ::ng-deep .mat-tab-body-wrapper {
//   height: 88%;
// }

@media screen and (min-width: 700px) {
  // toolbar is the expansion panel
  #toolbar {
    width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 400px) {
  #toolbar {
    flex-direction: column;
  }
  .cdk-virtual-scroll-viewport {
    height: 72%;
  }
}

// need to figure out a way to dynamically change the height of this viewport depending on whether the expansion panel is collapsed or expanded
cdk-virtual-scroll-viewport {
  height: 90%;
}

@media screen and (min-width: 700px) {
  .cdk-virtual-scroll-viewport {
    width: 700px;
    margin: 0 auto;
  }
}

mat-expansion-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#expansion-panel-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#fab-button-wrapper {
  display: flex;
  flex-direction: column;
}

#fab-button {
  align-self: center;
  justify-self: flex-end;
  position: fixed !important;
  bottom: 4.5rem;
  z-index: 99;
}