.extended-fab-button {
    width: unset;
    padding: 0 26px;
    border-radius: 29px;
}

.mat-icon {
    margin-right: 10px;
}

#button-wrapper {
    display: flex;
    flex-direction: column;
}

#fab-button {
    align-self: center;
    justify-self: flex-end;
    position: fixed !important;
    bottom: 1rem;
    z-index: 99;
}

.request-subheader {
    padding-bottom: 0px;
}

mat-list {
    padding-top: 0px;
}