<ng-container *transloco="let t; read: 'requests'">

<!-- This is what appears when the event is not active -->
  <div *ngIf="eventStatus !== 'active'; else activeEvent">
    <p class="body-text" *ngIf="eventStatus === 'created'">{{ t('inactive event message') }}</p>
    <p class="body-text" *ngIf="eventStatus === 'paused'">Event paused. Click Start to resume.</p>
    <p class="body-text" *ngIf="eventStatus === 'completed'">This event is completed.</p>
    <div id="fab-button-wrapper">
      <div id="fab-button">
        <button class="extended-fab-button" mat-fab color="primary" (click)="startEvent()">
          <span class="fab-button-text"> {{ t('start event fab') }}</span>
        </button>
      </div>
    </div>
  </div>

  <!-- What appears when the event is active -->
  <ng-template #activeEvent>
    <!-- disablePagination will not work in current version of angular material-->
    <mat-tab-group disablePagination="true" mat-align-tabs="center" class="mat-app-background">
      <mat-tab class="tab-label" label="Accepted">

        <ng-template matTabContent>
          <div [class.large-screen-display]="isLargeScreen">
            <div [class.large-screen-child]="isLargeScreen" class="subheader-wrapper">
              <h3 class="request-subheader" mat-subheader>{{ t('now playing') }}</h3>

              <!-- Change event status menu -->
              <mat-menu #eventMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="startEvent()">Start Event</button>
                <button mat-menu-item (click)="startEvent()">Pause Event</button>
                <button mat-menu-item (click)="endEvent()">End Event</button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="eventMenu"><mat-icon>more_vert</mat-icon></button>
            </div>

            <!-- Now playing song -->
            <div *ngIf="currentlyPlaying; else selectNextSong" [class.large-screen-child]="isLargeScreen">
              <app-request-detail 
                [song]="nowPlayingRequest.song" 
                [artist]="nowPlayingRequest.artist"
                [amount]="nowPlayingRequest.amount" 
                [status]="nowPlayingRequest.status"
                [memo]="nowPlayingRequest.memo">
                <button endSongButton mat-flat-button class="request-button" color="accent" (click)="endCurrentSong()">{{ t('end song button') }}</button>
              </app-request-detail>
            </div>

            <!-- Message that shows up when there is no song currently selected -->
            <ng-template #selectNextSong>
              <p class="body-text">
                {{ t('no current song playing message') }}
              </p>
            </ng-template>

            <!-- Accepted requests/Up Next -->
            <h3 [class.large-screen-child]="isLargeScreen" class="request-subheader" mat-subheader>{{ t('up next') }}</h3>
            <mat-list [class.large-screen-child]="isLargeScreen">
              <app-request-detail mat-list-item 
                [song]="request.song" 
                [artist]="request.artist" 
                [amount]="request.amount"
                [status]="request.status" 
                *ngFor="let request of acceptedRequests; index as i">

                <button rejectButton mat-button class="request-button" color="warn"
                  (click)="openDialog(i, 'acceptedRequests')">{{ t('reject') }}</button>
                <button playNextButton mat-flat-button class="request-button" color="primary"
                  (click)="playNext(i)">{{ t('play next') }}</button>

              </app-request-detail>
            </mat-list>
          </div>
        </ng-template>
      </mat-tab>

      <!-- Pending requests tab -->
      <mat-tab label="Pending">
        <ng-template matTabContent>
          <div [class.large-screen-display]="isLargeScreen">
            <h3 [class.large-screen-child]="isLargeScreen" class="request-subheader" mat-subheader>
              {{ t('pending requests') }}</h3>

            <!-- Pending request items -->
            <mat-list [class.large-screen-child]="isLargeScreen">
              <app-request-detail mat-list-item 
                [song]="request.song" 
                [artist]="request.artist" 
                [amount]="request.amount"
                [status]="request.status" 
                *ngFor="let request of pendingRequests; index as i">

                <button acceptButton mat-icon-button class="request-button" (click)="acceptRequest(i)">
                  <mat-icon color="primary" class="request-button-icon">done</mat-icon>
                </button>

                <button rejectButton mat-icon-button class="request-button" (click)="openDialog(i, 'pendingRequests')">
                  <mat-icon color="warn" class="request-button-icon">clear</mat-icon>
                </button>
              </app-request-detail>
            </mat-list>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

</ng-template>
</ng-container>
