<mat-toolbar>
    <mat-toolbar-row>
        <h1>Requests</h1>
    </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Accepted">
        <h3 class="request-subheader" mat-subheader>Now Playing</h3>
        <app-request-detail class="now-playing"></app-request-detail>

        <h3 class="request-subheader" mat-subheader>Up Next</h3>
            <mat-list>
                <app-request-detail mat-list-item></app-request-detail>
                <app-request-detail mat-list-item></app-request-detail>
                <app-request-detail mat-list-item></app-request-detail>
                <app-request-detail mat-list-item></app-request-detail>
                <app-request-detail mat-list-item></app-request-detail>
            </mat-list>
    </mat-tab>

    <mat-tab label="Pending">
        <div class="request-content">
        <h1>Some more tab content</h1>
        <p>...</p>
    </div>
    </mat-tab>
</mat-tab-group>

<div id="button-wrapper">
    <div id="fab-button">
        <button class="extended-fab-button" mat-fab color="primary">
            <span>Play Next</span>
        </button>
    </div>
</div>