<div class="personal-info-container">
    <h2>Personal Information</h2>
    <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Instrument of Choice</mat-label>
        <mat-select>
            <mat-option value="option">Piano</mat-option>
            <mat-option value="option">Bass</mat-option>
            <mat-option value="option">Guitar</mat-option>
            <mat-option value="option">Drums</mat-option>
            <mat-option value="option">Harmonica</mat-option>
            <mat-option value="option">Fiddle</mat-option>
            <mat-option value="option">Keytar</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Bio</mat-label>
        <textarea matInput placeholder="Ex. During his humble genesis in a small village in Poland, Peter began his study of piano at age four. Having picked up the pipe organ by age 10, he was regularly playing at church services, weddings, and competing in regional piano competitions throughout his province. At the same time, he performed routinely on stage for the neighboring town's drama club.."></textarea>
    </mat-form-field>
    <h2>Contact Information</h2>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Social Media Platform</mat-label>
        <mat-select>
            <mat-option value="option">Twitter</mat-option>
            <mat-option value="option">Instagram</mat-option>
            <mat-option value="option">Snapchat</mat-option>
            <mat-option value="option">TikTok</mat-option>
            <mat-option value="option">FaceBook</mat-option>
            <mat-option value="option">YouTube</mat-option>
            <mat-option value="option">WhatsApp</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Social Media Handle</mat-label>
        <input matInput placeholder="Ex. @PianoManPeter69" value="@">
    </mat-form-field>
</div>