<h2>Personal Information</h2>
<div class="Personal-Info-container">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="First Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Last Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile" value="">
        </mat-form-field>
    </form>
</div>