@import "../../../../styles.scss";
.personal-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  mat-form-field {
    max-width: 500px;
    width: 90%;
  }

  form {
    width: 100%;
  }

  .extended-fab-button {
    width: unset;
    padding: 0 26px;
    border-radius: 29px;
  }

  .fab-button-text {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 500;
  }

  #fab-button-wrapper {
    margin-bottom: 2%;
    margin-top: 1%;
  }

  mat-form-field {
    padding-bottom: 1%;
  }

  .centered-flex-box {
    display: flex;
    flex-direction: row; // don't think i need this
    flex-wrap: nowrap;
    justify-content: center;
  }

  .centered-flex-box > button {
    align-self: center;
  }

  .flex-start-flex-box {
    display: flex;
    justify-content: flex-start;
  }

  .flex-start-flex-box > // should have >, swapped comma
  h4 {
    flex-shrink: 0;
  }

  .flex-start-flex-box > p {
    margin-left: 6%;
    align-self: center;
  }

  .flex-start-flex-box > button {
    align-self: center;
  }
}

.nav-buttons {
  display: flex;
  justify-content: flex-start;
  margin: 5px;
}

.error-message {
  color: mat-color($app-warn);
}

.mat-tooltip {
  // opposed to using ::ngdeep
  background-color: mat-color($app-accent);

  &.custom-tooltip {
    // to modify the tooltip create a class like this
    background-color: mat-color($app-accent);
  }
}

@media screen and (max-width: 450px) {
}

@media screen and (min-width: 700px) {
}
