<div class="header-items">
    <div class="date">February 5th, 2020</div>
    <div class="total-earnings">
        <h2 id="money-color">$2,345.68</h2>
        <h4>Total Earnings</h4>
        <button class="extended-fab-button" mat-raised-button color="primary">
            <span>Payout</span>
        </button>
    </div>
    <button class="help-icon">
        <i class="material-icons">
            help
            </i>
        </button>
</div>

<mat-divider></mat-divider>

<mat-toolbar>
    <mat-toolbar-row>
        <h1>Earnings Details</h1>
    </mat-toolbar-row>
</mat-toolbar>
<div class=label-container>
    <h4>Time</h4>
    <h4>Song</h4>
    <h4>Amount</h4>
</div>

<mat-list *ngFor="let request of acceptedRequests">
    <app-request-detail mat-list-item [song]="request.song" [artist]="request.artist" [amount]="request.amount" [status]="request.status" (updatedStatus)="onChangeStatus($event)">
    </app-request-detail>
</mat-list>