.title {
  padding: 25px;
}

.title span {
  font-weight: normal;
  font-size: x-large;
}


mat-label {
  color: white;
}

.formCard {
  margin: 0 5% 5% 5%
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
