<ng-container *transloco="let t">
	<mat-toolbar color="primary" role="navigation" aria-label="Bottom">
		<a routerLink="event/{{eventService.currentEventId}}" routerLinkActive="active-link" mat-icon-button disableRipple=true>
			<mat-icon>home</mat-icon>
			<span>{{t("requests.title")}}</span>
		</a>
		<a routerLink="dashboard" routerLinkActive="active-link" mat-icon-button disableRipple=true>
			<mat-icon>person</mat-icon>
			<span>{{t("dashboard")}}</span>
		</a>
	</mat-toolbar>
</ng-container>