<ng-container *transloco="let t">
    <mat-toolbar color="primary" role="navigation" aria-label="Bottom">
        <a routerLink="requests" mat-icon-button disableRipple=true>
            <mat-icon>home</mat-icon>
            <span>{{t("Requests")}}</span>
        </a>
        <a routerLink="events" mat-icon-button disableRipple=true>
            <mat-icon>event</mat-icon>
            <span>{{t("Events")}}</span>
        </a>
        <a routerLink="dashboard" mat-icon-button disableRipple=true>
            <mat-icon>person</mat-icon>
            <span>{{t("Dashboard")}}</span>
        </a>
    </mat-toolbar>
</ng-container>