
<div class="pageTitle" >
  <p style="padding: 15px;"> My Request Create An Event here!</p>
</div>

<div class="wrapper">

<form class="createEventForm">
  <mat-form-field>
    <label for="Event-Name">Event Title:<mat-icon>event</mat-icon> </label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <label> Choose a Date: </label>
    <input matInput [matDatepicker]="myDatepicker">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <label for="Enter time"> Start Time and End Time: </label>
    <input matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select Start Time</mat-label>
    <mat-select>
      <mat-option *ngFor="let time of times" [value]="time.value">
        {{time.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


    <mat-form-field>
      <label for="Genre">Genre: <mat-icon>queue_music</mat-icon></label>
      <input matInput>
    </mat-form-field>


    <mat-form-field>
      <label for="Enter Location">Enter Location: <mat-icon>edit_location</mat-icon></label>
      <input matInput>
    </mat-form-field>

    <mat-form-field>
      <label for="Description">Description: <mat-icon>description</mat-icon> </label>
      <input matInput>
    </mat-form-field>
  </form>
</div>
