.wrapper {
  height: 48px;
  width: 100%;
}

mat-icon {
  margin-top: 5px;
}
.mat-card-container {
  display: flex;
  justify-content: space-between;
}

.image {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  width: 90px; height: 80px
}

.date {
  font-weight: bolder;
  color: white;
}
.venue {
  margin-bottom: 2px;
  font-size: x-small;
  font-weight: lighter;
  justify-self: end;
}
.title {
  font-size: small;
  font-weight: normal;

}
.contentContainer {
  display: flex;
  width: 50%;
  margin-top: 5px;
}

.contentContainer mat-icon {
  padding: 5px;
  margin-left: 10px
}
